    /*
    Flaticon icon font: Flaticon
    Creation date: 13/10/2020 21:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-racket-and-tennis-ball:before { content: "\f100"; }
.flaticon-facebook:before { content: "\f101"; }
.flaticon-instagram:before { content: "\f102"; }
.flaticon-twitter:before { content: "\f103"; }
.flaticon-phone-call:before { content: "\f104"; }
.flaticon-email:before { content: "\f105"; }
.flaticon-envelope:before { content: "\f106"; }
.flaticon-key:before { content: "\f107"; }
.flaticon-user:before { content: "\f108"; }
.flaticon-shield:before { content: "\f109"; }
.flaticon-balance:before { content: "\f10a"; }
.flaticon-coin-stack:before { content: "\f10b"; }
.flaticon-padlock:before { content: "\f10c"; }
.flaticon-hair-cut-tool:before { content: "\f10d"; }
.flaticon-restaurant:before { content: "\f10e"; }
.flaticon-cheers:before { content: "\f10f"; }
.flaticon-nurse:before { content: "\f110"; }
.flaticon-person-silhouette-in-sauna:before { content: "\f111"; }
.flaticon-barbell:before { content: "\f112"; }
.flaticon-store:before { content: "\f113"; }
.flaticon-shop:before { content: "\f114"; }
.flaticon-menu:before { content: "\f115"; }
.flaticon-close:before { content: "\f116"; }
.flaticon-arrowhead-pointing-to-the-right:before { content: "\f117"; }
.flaticon-sort-down:before { content: "\f118"; }
.flaticon-up-chevron:before { content: "\f119"; }
.flaticon-user-1:before { content: "\f11a"; }
.flaticon-folder:before { content: "\f11b"; }
.flaticon-checked:before { content: "\f11c"; }
.flaticon-check:before { content: "\f11d"; }
.flaticon-swimming:before { content: "\f11e"; }
.flaticon-squash-rackets:before { content: "\f11f"; }
.flaticon-back-arrow:before { content: "\f120"; }
.flaticon-suspension:before { content: "\f121"; }
.flaticon-domino:before { content: "\f122"; }
.flaticon-martial-arts:before { content: "\f123"; }
.flaticon-dry-clean:before { content: "\f124"; }
.flaticon-dashboard:before { content: "\f125"; }
.flaticon-user-2:before { content: "\f126"; }
.flaticon-group:before { content: "\f127"; }
.flaticon-newspaper:before { content: "\f128"; }
.flaticon-edit:before { content: "\f129"; }
.flaticon-question:before { content: "\f12a"; }
.flaticon-add:before { content: "\f12b"; }
.flaticon-minus:before { content: "\f12c"; }
.flaticon-file:before { content: "\f12d"; }
.flaticon-seleccionar:before { content: "\f12e"; }
.flaticon-apoyo-tecnico:before { content: "\f12f"; }
.flaticon-jefe:before { content: "\f130"; }
.flaticon-entrenador:before { content: "\f131"; }
.flaticon-marketing:before { content: "\f132"; }
.flaticon-corredizo:before { content: "\f133"; }
.flaticon-archivo:before { content: "\f134"; }
.flaticon-grupo:before { content: "\f135"; }
.flaticon-lista-de-verificacion:before { content: "\f136"; }
.flaticon-megafono:before { content: "\f137"; }
.flaticon-mascaras-felices-y-tristes:before { content: "\f138"; }
.flaticon-chico:before { content: "\f139"; }
.flaticon-baile:before { content: "\f13a"; }
.flaticon-chupete:before { content: "\f13b"; }
.flaticon-asistencia-social:before { content: "\f13c"; }
.flaticon-edificio:before { content: "\f13d"; }
.flaticon-ahorrar-dinero:before { content: "\f13e"; }
.flaticon-libro-de-leyes:before { content: "\f13f"; }
.flaticon-subasta:before { content: "\f140"; }
.flaticon-location-pin:before { content: "\f141"; }
.flaticon-seguro-de-hogar:before { content: "\f142"; }
.flaticon-vision:before { content: "\f143"; }
.flaticon-objetivo:before { content: "\f144"; }
.flaticon-objetivo-1:before { content: "\f145"; }
    
    $font-Flaticon-racket-and-tennis-ball: "\f100";
    $font-Flaticon-facebook: "\f101";
    $font-Flaticon-instagram: "\f102";
    $font-Flaticon-twitter: "\f103";
    $font-Flaticon-phone-call: "\f104";
    $font-Flaticon-email: "\f105";
    $font-Flaticon-envelope: "\f106";
    $font-Flaticon-key: "\f107";
    $font-Flaticon-user: "\f108";
    $font-Flaticon-shield: "\f109";
    $font-Flaticon-balance: "\f10a";
    $font-Flaticon-coin-stack: "\f10b";
    $font-Flaticon-padlock: "\f10c";
    $font-Flaticon-hair-cut-tool: "\f10d";
    $font-Flaticon-restaurant: "\f10e";
    $font-Flaticon-cheers: "\f10f";
    $font-Flaticon-nurse: "\f110";
    $font-Flaticon-person-silhouette-in-sauna: "\f111";
    $font-Flaticon-barbell: "\f112";
    $font-Flaticon-store: "\f113";
    $font-Flaticon-shop: "\f114";
    $font-Flaticon-menu: "\f115";
    $font-Flaticon-close: "\f116";
    $font-Flaticon-arrowhead-pointing-to-the-right: "\f117";
    $font-Flaticon-sort-down: "\f118";
    $font-Flaticon-up-chevron: "\f119";
    $font-Flaticon-user-1: "\f11a";
    $font-Flaticon-folder: "\f11b";
    $font-Flaticon-checked: "\f11c";
    $font-Flaticon-check: "\f11d";
    $font-Flaticon-swimming: "\f11e";
    $font-Flaticon-squash-rackets: "\f11f";
    $font-Flaticon-back-arrow: "\f120";
    $font-Flaticon-suspension: "\f121";
    $font-Flaticon-domino: "\f122";
    $font-Flaticon-martial-arts: "\f123";
    $font-Flaticon-dry-clean: "\f124";
    $font-Flaticon-dashboard: "\f125";
    $font-Flaticon-user-2: "\f126";
    $font-Flaticon-group: "\f127";
    $font-Flaticon-newspaper: "\f128";
    $font-Flaticon-edit: "\f129";
    $font-Flaticon-question: "\f12a";
    $font-Flaticon-add: "\f12b";
    $font-Flaticon-minus: "\f12c";
    $font-Flaticon-file: "\f12d";
    $font-Flaticon-seleccionar: "\f12e";
    $font-Flaticon-apoyo-tecnico: "\f12f";
    $font-Flaticon-jefe: "\f130";
    $font-Flaticon-entrenador: "\f131";
    $font-Flaticon-marketing: "\f132";
    $font-Flaticon-corredizo: "\f133";
    $font-Flaticon-archivo: "\f134";
    $font-Flaticon-grupo: "\f135";
    $font-Flaticon-lista-de-verificacion: "\f136";
    $font-Flaticon-megafono: "\f137";
    $font-Flaticon-mascaras-felices-y-tristes: "\f138";
    $font-Flaticon-chico: "\f139";
    $font-Flaticon-baile: "\f13a";
    $font-Flaticon-chupete: "\f13b";
    $font-Flaticon-asistencia-social: "\f13c";
    $font-Flaticon-edificio: "\f13d";
    $font-Flaticon-ahorrar-dinero: "\f13e";
    $font-Flaticon-libro-de-leyes: "\f13f";
    $font-Flaticon-subasta: "\f140";
    $font-Flaticon-location-pin: "\f141";
    $font-Flaticon-seguro-de-hogar: "\f142";
    $font-Flaticon-vision: "\f143";
    $font-Flaticon-objetivo: "\f144";
    $font-Flaticon-objetivo-1: "\f145";