@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?e74965556d1a31aa13a957dd8b981561") format("truetype"),
url("./flaticon.woff?e74965556d1a31aa13a957dd8b981561") format("woff"),
url("./flaticon.woff2?e74965556d1a31aa13a957dd8b981561") format("woff2"),
url("./flaticon.eot?e74965556d1a31aa13a957dd8b981561#iefix") format("embedded-opentype"),
url("./flaticon.svg?e74965556d1a31aa13a957dd8b981561#flaticon") format("svg");
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-add:before {
    content: "\f101";
}
.flaticon-ahorrar-dinero:before {
    content: "\f102";
}
.flaticon-apoyo-tecnico:before {
    content: "\f103";
}
.flaticon-archivo:before {
    content: "\f104";
}
.flaticon-arrowhead-pointing-to-the-right:before {
    content: "\f105";
}
.flaticon-asistencia-social:before {
    content: "\f106";
}
.flaticon-back-arrow:before {
    content: "\f107";
}
.flaticon-baile:before {
    content: "\f108";
}
.flaticon-balance:before {
    content: "\f109";
}
.flaticon-barbell:before {
    content: "\f10a";
}
.flaticon-budget:before {
    content: "\f10b";
}
.flaticon-check:before {
    content: "\f10c";
}
.flaticon-checked:before {
    content: "\f10d";
}
.flaticon-cheers:before {
    content: "\f10e";
}
.flaticon-chico:before {
    content: "\f10f";
}
.flaticon-chupete:before {
    content: "\f110";
}
.flaticon-close:before {
    content: "\f111";
}
.flaticon-coin-stack:before {
    content: "\f112";
}
.flaticon-corredizo:before {
    content: "\f113";
}
.flaticon-dashboard:before {
    content: "\f114";
}
.flaticon-desk:before {
    content: "\f115";
}
.flaticon-domino:before {
    content: "\f116";
}
.flaticon-dry-clean:before {
    content: "\f117";
}
.flaticon-edificio:before {
    content: "\f118";
}
.flaticon-edit:before {
    content: "\f119";
}
.flaticon-email:before {
    content: "\f11a";
}
.flaticon-entrenador:before {
    content: "\f11b";
}
.flaticon-envelope:before {
    content: "\f11c";
}
.flaticon-event:before {
    content: "\f11d";
}
.flaticon-facebook:before {
    content: "\f11e";
}
.flaticon-file:before {
    content: "\f11f";
}
.flaticon-folder:before {
    content: "\f120";
}
.flaticon-group:before {
    content: "\f121";
}
.flaticon-grupo:before {
    content: "\f122";
}
.flaticon-hair-cut-tool:before {
    content: "\f123";
}
.flaticon-instagram:before {
    content: "\f124";
}
.flaticon-jefe:before {
    content: "\f125";
}
.flaticon-key:before {
    content: "\f126";
}
.flaticon-libro-de-leyes:before {
    content: "\f127";
}
.flaticon-lista-de-verificacion:before {
    content: "\f128";
}
.flaticon-location-pin:before {
    content: "\f129";
}
.flaticon-maintenance:before {
    content: "\f12a";
}
.flaticon-marketing:before {
    content: "\f12b";
}
.flaticon-martial-arts:before {
    content: "\f12c";
}
.flaticon-mascaras-felices-y-tristes:before {
    content: "\f12d";
}
.flaticon-mask:before {
    content: "\f12e";
}
.flaticon-megafono:before {
    content: "\f12f";
}
.flaticon-menu:before {
    content: "\f130";
}
.flaticon-minus:before {
    content: "\f131";
}
.flaticon-new-product:before {
    content: "\f132";
}
.flaticon-newspaper:before {
    content: "\f133";
}
.flaticon-nurse:before {
    content: "\f134";
}
.flaticon-objetivo-1:before {
    content: "\f135";
}
.flaticon-objetivo:before {
    content: "\f136";
}
.flaticon-padlock:before {
    content: "\f137";
}
.flaticon-person-silhouette-in-sauna:before {
    content: "\f138";
}
.flaticon-phone-call:before {
    content: "\f139";
}
.flaticon-preview:before {
    content: "\f13a";
}
.flaticon-question:before {
    content: "\f13b";
}
.flaticon-racket-and-tennis-ball:before {
    content: "\f13c";
}
.flaticon-restaurant:before {
    content: "\f13d";
}
.flaticon-salary:before {
    content: "\f13e";
}
.flaticon-seguro-de-hogar:before {
    content: "\f13f";
}
.flaticon-seleccionar:before {
    content: "\f140";
}
.flaticon-settings:before {
    content: "\f141";
}
.flaticon-shield:before {
    content: "\f142";
}
.flaticon-shop:before {
    content: "\f143";
}
.flaticon-social:before {
    content: "\f144";
}
.flaticon-sort-down:before {
    content: "\f145";
}
.flaticon-squash-rackets:before {
    content: "\f146";
}
.flaticon-store:before {
    content: "\f147";
}
.flaticon-subasta:before {
    content: "\f148";
}
.flaticon-suspension:before {
    content: "\f149";
}
.flaticon-swimming:before {
    content: "\f14a";
}
.flaticon-twitter:before {
    content: "\f14b";
}
.flaticon-up-chevron:before {
    content: "\f14c";
}
.flaticon-user-1:before {
    content: "\f14d";
}
.flaticon-user-2:before {
    content: "\f14e";
}
.flaticon-user:before {
    content: "\f14f";
}
.flaticon-vision:before {
    content: "\f150";
}
.flaticon-website:before {
    content: "\f151";
}
